.booking-new-nav-bar{
  margin:auto;
  display: block;
  height: 60px;
  padding-top: 16px;
  background-color: rgba(219,150,40,0.5);
  .links {
    margin:auto;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    top: 16px;
  }
}

.new-booking-form {
  width: 85vw;
  margin: 24px auto;
  .form-title {
    color: #DB9628;
  }
  .intro-text {
    margin-top: 20px;
  }
  .form {
    margin-top: 20px;

  }
  .intro-text {
    font-weight: bold;
    font-size: 18px;
    color: #DB9628;
  }
}
