.home-title{
  text-transform: uppercase;
  color: #DB9628;
  font-size: 24px;
}

.panel {
  position: relative;
  .carousel-item img{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
  }
  .home-search {
    position: absolute;
    z-index: 1;
    width: 50vw;
    top: 180px;
    left: 300px;
  }
}

.wrapper {
  display: flex;
  justify-content: center; /* vertical */
  flex-direction: column;
  width: 100vw;
}
.recommend {
  display: flex;
  margin: 16px auto;
  padding: 20px 30px;
  background: -webkit-linear-gradient(right, #FAEDD9 50%, #fff 50%);
  background: -o-linear-gradient(right, #FAEDD9 50%, #fff 50%);
  background: -moz-linear-gradient(right, #FAEDD9 50%, #fff 50%);
  background: linear-gradient(to right, #FAEDD9 50%, #fff 50%);
  .text-content {
    padding-top: 30px;
    margin-right: 20px;
  }
}

.trending {
  display: flex;
  margin: 16px auto;
  padding: 20px 30px;
  background: -webkit-linear-gradient(left, #FAEDD9 50%, #fff 50%);
  background: -o-linear-gradient(left, #FAEDD9 50%, #fff 50%);
  background: -moz-linear-gradient(left, #FAEDD9 50%, #fff 50%);
  background: linear-gradient(to left, #FAEDD9 50%, #fff 50%);
  .text-content {
    padding-top: 30px;
    margin-left: 20px;
  }
}

.destinations {
  margin-top: 16px;
  padding: 20px 30px;
  text-align: center;
  width: 90vw;
  margin: auto;
  .break img {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    margin: 20px auto;
  }
  .cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    gap: 20px;
    :nth-child(1), :nth-child(4), :nth-child(5), :nth-child(7){
      .img-responsive {
        width: 40vw;
        height: 30vh;
        max-height: 400px;
        object-fit: cover;
      }
      :hover {
        width: 40vw;
        height: 30vh;
        opacity: 0.3;
        transition: .5s ease;
      }
    }
    :nth-child(2), :nth-child(3), :nth-child(6){
      .img-responsive {
        width: 20vw;
        height: 30vh;
        max-height: 400px;
        object-fit: cover;
      }
      :hover {
        width: 20vw;
        height: 30vh;
        opacity: 0.3;
        transition: .5s ease;
      }
    }
  }
}

.promo-countdown {
  margin: 16px auto;
  padding: 20px 30px;
  width: 100vw;
  background-color: #FAEDD9;
    .main {
    width: 85vw;
    position: relative;
    margin: auto;
    overflow: hidden;
    text-align: center;
    }
      h3 {
        text-align: center;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #DB9628;
      }

    #countdown {
      color: #F6F4F3;
      text-align: center;
      text-transform: uppercase;
      font-size: 1em;
      margin-top: 5%;
    }

    .days, .hours, .minutes, .seconds, .left {
      display: inline-block;
      padding: 20px;
      width: 120px;
      border-radius: 10px;
    }

    .days, .hours, .minutes, .seconds {
      background: #FFB20C;
    }

    .left {
      background: #DB9628;
    }
    .c-number {
      color: #333;
      font-size: 5em;
    }
}

@media (max-width: 767px) {
  .recommend, .trending {
    display: block;
    width: 95vw;
    background: none;
    margin-top: 20px;
  }
  .panel {
  position: relative;
  .carousel-item img{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
  }
  .home-search {
    position: absolute;
    z-index: 1;
    width: 70vw;
    top: 180px;
    left: 25px;
  }
}


  .destinations {
  margin-top: 12px;
  padding: 8px 16px;
  text-align: center;
  width: 90vw;
  margin: auto;
  .break img {
    width: 12px;
    height: 12px;
    opacity: 0.5;
    margin: 8px auto;
  }
  .cards {
    margin: auto;
    .card {
      .img-responsive {
        margin: auto;
        width: 70vw;
        display: block;
      }
      :hover {
        width: 70vw;
        opacity: 0.3;
        transition: .5s ease;
      }

  }
  }

}
}
