.tour-search {
  .search_form {
    padding-left: 10px;
    width: 20vw;
    .btn-arrow {
      width: 20vw;
    }
    #tag_cloud {
      margin-top: 20px;
      line-height: 1.6em;
      .s { font-size: 0.8em; }
      .m { font-size: 1.2em; }
      .l { font-size: 1.8em; }
    }
  }
}



