nav {
  display: block;
  height: 60px;
  background-color: rgba(219,150,40,0.5);
  padding-top: 18px;
}

.nav-tabs {
    border-bottom: none;
    width: 95vw;
    margin: auto;
    position: relative;
    .nav-link-tour-show {
      display: block;
      padding: 10px;
    }

    :hover {
      background-color: #fff;
    }
    .nav-link-tour-show.active{
      color: #495057;
      background-color: #fff;
    }
    .buttons {
      position: absolute;
      top: -12px;
      right: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;

    }
}

.tab-content {
  width: 85vw;
  margin: auto;
  .tour-title {
    text-align: center;
    color: #DB9628;
  }
}

.tour-infos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .sign {
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon img {
      width: 40px;
      height: 40px;
      opacity: 0.4;
      }
      .text {
        font-size: 14px;
        color: #838181;
      }
    }
    .information {
      font-weight: 600;
      margin-top: 8px;
    }

  }
}

.tour-photo {
  margin-top: 20px;
  .w-100 {
    height: 450px;
    object-fit: cover;
  }
}

.tour-about {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  .about-title {
  color: #DB9628;
  font-weight: bold;
  }
  .links {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: space-evenly;
  }
}

.tour-related {
  margin-top: 30px ;
  padding: 30px;
  background-color: #fff;
  .tour-related-wrap {
    width: 85vw;
    margin: auto;
    .tour-related-text {
      color: #DB9628;
      font-weight: bold;
    }
  }
}

.tour-itinerary {
  margin-top: 28px;
  display: flex;
  .itinerary-photos{
    margin-top: 48px;
    .photos img {
      margin-top: 28px;
      width: 250px;
      height: 200px;
      object-fit: cover;
      border-radius: 7px;
    }
  }
}

.tour-details-links {
  margin-top: 28px;
  width: 85vw;
  .nav-link.active{
    color: #fff;
    background-color: #DB9628;
}
}

.tour-details-text {
  .tour-infos{
    display: flex;
    flex-direction: column;
    .info {
      margin-bottom: 16px;
      display: flex;
      flex-direction: row;
      align-item: bottom;
      .sign {
        display: flex;
        flex-direction: row;
        .icon {
          margin-right: 20px;
        }
      }
    }
  }
}

.tour-include, .tour-visa, .tour-weather {
  width: 70%;
}
