<div class="new-booking-form">
  <div class="intro-text">
    <h3>Designing Your Perfect Adventure</h3>
    <p>Why not use our extensive resources, local knowlledge to take the pressure off you and let us create your perfect adventure?</p>
    <p>Here are some initial question to get you started. You can be as detailed as you like, or if you're not sure, we can send through a few suggestion.</p>
  </div>
  <div class="form">
    <%= render 'form', tailortour: @tailortour %>
  </div>
</div>

