<div class="container">
  <div class="panel">

  </div>
  <div class="recommend">

  </div>
  <div class="trending">

  </div>


  <div class="destinations">
    <h3 class="home-title">browse by country</h3>
    <div class="row">
      <div class="col-md-12">


        <div id="carousel" class="carousel slide" data-ride="false" data-type="multi">
          <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#carousel" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->
          <div class="carousel-inner">
            <% Country.all.each.with_index(0) do |country, index| %>
            <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
              <div class="col-xs-4">
                <%= link_to country_path(country) do %>
                <%= cl_image_tag country.photo, class: "card-img" %>
                <div class="card-img-overlay">
                  <h4 class="card-title"><%= country.name%></h4>
                </div>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
