.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  width: 95vw;
}

.navbar-nav {
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: auto;
    }

.nav-item{
  position: relative;
  a {color: #404040;}
  a:hover{
  color: #C4C4C4;
  }
  .dropdown-menu {
    width: 100vw;
    position: absolute;
    top: 60px;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.dropdown-menu.show {
    display: flex;
}

.activity{
  left: -420px;
  list-style: none;
  padding: 0;
  padding: 20px 50px;

  li {
    padding-right: 40px;
    padding-left: 20px;
    text-align: center;
  }
  img {
    width: 60px;
    height: 60px;
  }
  .icon {
    display: inline-block;
  }
  .text {
    position: relative;
    top: 8px;
    display: block;
    font-weight: bold;
 }}

 .logo-menu {
  list-style: none;
  padding: 0;
  text-align: center;
  img {
    height: 60px;
  }

  .logo {
    display: inline-block;
  }

  .text {
    position: relative;
    top: 5px;
    display: block;
    font-weight: bold;
    color: #cb6b17;

  }
 }

 .destination {
  left: -224px;
  padding: 20px 50px;
  li {
    padding-right: 20px;
    padding-left: 10px;
    text-align: center;
    border-left: solid 1px #c4c4c4;
    ul {
      list-style: none;
    }
    li {
      border: none;
    }
  }
 }

 .search-menu {
  left: -49px;
  padding: 20px 50px;
  li {
    padding-right: 40px;
    padding-left: 20px;
    text-align: center;
    border-left: solid 1px #c4c4c4;
  }
 }

 .about {
  left: -796px;
  padding: 20px 50px;
  li {
    padding-right: 40px;
    padding-left: 20px;
    text-align: center;
    border-left: solid 1px #c4c4c4;
  }
 }

 .search-bar {
  left: -970px;
  padding: 20px 50px;
  li {
    padding-right: 40px;
    padding-left: 20px;
    text-align: center;
    border-left: solid 1px #c4c4c4;
  }
  .form-control {
    width: 80vw;

  }
 }

 .dropdown-menu-right {
  right: -116px;
    a {
      width: 30vw;
      display: block;
    }
 }

 @media (max-width: 767px) {
  .dropdown-menu.show {
    display: block;
    width: 90vw;
    margin: auto;
    position: static;
  }
  .logo-menu {
    display: none;
  }
  .destination li, .about li, .search-menu li {
    border-left: none;
  }
  .search-bar {
    padding: 10px;
  }

  .dropdown-menu-right {
  right: 0px;
 }
}
