//this for information show page like: country, location, activity


//show page banner where is main photo with icon and page title
.panel-photo {
  position: relative;
  img {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
  }
  .page-show-title {
    position: absolute;
    letter-spacing: 3px;
    z-index: 1;
    color: #fff;
    width: 50vw;
    top: 30px;
    left: 310px;
    text-align: center;
    img {
    width: 40vw;
    height: auto;
    margin-bottom: 16px;
    }
    .icon {
      display: inline-block;
    }
  }
}

//main content with summary, tour list
.show-main {
  .summary {
    width: 50vw;
    margin: 16px auto;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .tours-list {
    margin: 28px auto;
    padding-top: 28px;
    text-align: center;
    border-top: solid 1px #bfbfbf;
    .title {
      color: #db9628;
      text-transform: uppercase;
      margin-bottom: 28px
    }
    .all-tour-list, .country-tourlist{
      margin: 16px auto;
      width: 75vw;
    }
  }


//tailor_tour link area

.tailor-link-banner {
  display: flex;
  width: 80vw;
  margin: 40px auto;
  background: #FAEDD9 50%;

  .title, .link {
    color: #db9628;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

//links with photo and text. link to other countries or locations
.show-locations {
    padding-top: 28px;
    margin: 28px auto;
    width: 90vw;
    text-align: center;
    .title {
      color: #db9628;
      text-transform: uppercase;
    }

  }
}
