#mySidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    a {
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }
    a:hover {
    color: white;
    background-color: #db9628;
  }
    .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 16px;
    margin-left: 50px;
    background-color: white;
    border: solid 1px #db9628;
    border-radius: 10px;
    color: #db9628;
  }
}

#main {
  .openbtn {
      position: fixed;
      left: 0;
      top: 120px;
      min-width: 60px;
      height: 40px;
      border-radius: 0 100px 100px 0;
      background-color:  white;
      background-size: 300% auto;
      cursor: pointer;
      font-weight: bold;
      padding-left: 8px;
      line-height: 40px;
      color: #db9628;
    }
    .openbtn:hover {
    background-color: #db9628;
    color: white;
  }
}
