.content-card:hover{
  .tour-card{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  .tour-card-title {
    color: #E1B97B;
  }
}
.tour-card {
  overflow: hidden;
  background: white;
  border-bottom: solid 1px #000;
}

.tour-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.tour-card-body {
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  height: 50px;
  border-bottom: solid 2px #000;
}

.tour-card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.tour-card-list {
  list-style: none;
  display: grid;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  grid-gap: 1px;
  background-color: #000;
  margin-bottom: 0px;
  .icon img{
    width: 25px;
    height: 25px;
  }
  li {
    background-color: white;
    padding: 10px;
    display: inline;
    .icon{
      padding-right: 10px;
    }
  }

}


.tour-card .tour-card-body {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.tour-card-body .tour-card-like {

  position: absolute;
  right: 16px;
  top: -26px;
  width: 35px;
  background-color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  color: #727272;

  .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #FF665E;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: -70px;
  }
}

.tour-card-body .tour-card-like:hover{
  color: red;
  .tooltiptext {
      visibility: visible;
    }
}
